* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    padding-top: 20px;
}

.header-logo {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    margin-top: 5px;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-links {
    display: flex;
    justify-content: center;
}

.menu-links a {
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
    padding: 10px
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding-top: 100px;
}

.hero-left {
    padding: 40px 40px 40px 230px;
}

.hero-right {
    padding: 40px 230px 40px 0;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
}

.tagline {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
    width: 125px;
    height: 60px;
    border: none;
    border-radius: 1rem;
    margin-top: 5px;
    font-size: 18px;
}